.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.125);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    .confirmation {
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px; 
        border-top: 5px solid var(--color-danger-main);
        .message {
            padding: 1em;
        }
        .button-container {
            padding: 1em;            
            button {
                float: right;
                margin-left: 1em;
                font-size: 1em;
                font-weight: 600;
                padding: 10px 30px;
            }
            button.primary-action {
                border: solid var(--color-danger-main) 1px;
                background-color: var(--color-danger-main);
            }
            button.primary-action:hover {
                transition : 1000ms;
                border: solid var(--color-danger-light) 1px;
                background-color: var(--color-danger-light);
            }
            .clearfix {
                clear: both;
            }
        }
    }  
}
.wrapper.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}