.edit-form {
    .form-item {
        font-size: 1.5em;
        margin-bottom: 1em;
        label {
            display: block;
        }
        input, select {
            margin-top: .25em;
            font-size: 1.5em;
        }
        input.invalid, input.invalid:focus {
            border-color: var(--color-red-main);
        }
        .form-error-message {
            font-size: .75em;
            margin-top: .25em;
            color: var(--color-red-main);
        }
    }
}