.contact-us {
	p {
		margin: 1.5em 0 0 0;
	}
	h3 {
		margin: 1.5em 0 0 0;
	}
	a {
		text-decoration: none;
		font-weight: 500;
		font-size: 1.25em;
		color: var(--color-foreground);
		&:hover {
			color: var(--color-foreground);
		}
		&:visited {
			color: var(--color-foreground);
		}
		&:active {
			color: var(--color-foreground);
		}
	}
	.phone {
		font-weight: 500;
		font-size: 1.25em;
	}
}

.our-leadership-container{
	hr{
		background-color: var(--color-primary-main);
	}
}

.testimonials-container{
	hr{
		background-color: var(--color-accent-3);
	}
}

.contact-us{
	hr{
		background-color: var(--color-success-main);
	}
}