:root {
    --color-primary-main: #0066CC;
    --color-primary-light: #99C2EB;
    --color-primary-dark: #004D99;
    --color-primary-contrast: #FFF;

    --color-secondary-main: #0D9A48;
    --color-secondary-light: #99D699;
    --color-secondary-dark: #09743B;
    --color-secondary-contrast: #FFF;

    --color-tertiary-main: #C62828;
    --color-tertiary-light: #E8A9A9;
    --color-tertiary-dark: #591E1E;
    --color-tertiary-contrast: #FFF;

    --color-foreground: #000;
    --color-background: #FFF;

    --color-neutral-main: #C4C9CB;
    --color-neutral-light: #E2E7EA;
    --color-neutral-dark: #A5ABAC;
    --color-neutral-contrast: #000;
    
    --color-success-main: #0D9A48;
    --color-success-light: #99D699;
    --color-success-dark: #09743B;
    --color-success-contrast: #FFF;

    --color-warning-main: #bda960;
    --color-warning-light: #f7eabc;
    --color-warning-dark: #745f1d;
    --color-warning-contrast: #FFF;

    --color-danger-main: #C62828;
    --color-danger-light: #E8A9A9;
    --color-danger-dark: #591E1E;
    --color-danger-contrast: #FFF;

    --color-info-main: #23485a;
    --color-info-light: #d9ecf8;
    --color-info-dark: #072d40;
    --color-info-contrast: #FFF;

    --color-accent-1: #8676c1;
    --color-accent-2: #d774a1;
    --color-accent-3: #df5e2e;
}
