:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-purple: #8676c1;
    --color-green: #2e964e;
    --color-brown: #79675c;
    --color-pink: #d774a1;
    --color-orange: #df5e2e;
    --color-blue: #3ba7cb;
    --color-red: #ff0000;
    --color-red-main: #c62828;
    --color-red-light: #e8a9a9;
    --color-red-dark: #951e1e;
    --color-off-white: #f2f2f2;
    --color-light-gray: #E2E7EA;
    --color-medium-gray: #C4C9CB;
    --color-dark-gray: #a5abac;
    --color-blue-main: #0066CC;
    --color-blue-light: #99C2EB;
    --color-blue-dark: #004D99;
    --color-green-main: #0D9A48;
    --color-green-light: #99D699;
    --color-green-dark: #09743B;
    --color-button-border-primary: #e0e0e0;
    --color-button-background-primary: #0066cc;
    --color-button-hover-primary: #99C2EB;
    --color-button-active-primary: #004d99;
    --color-button-text-primary: #FFFFFF;
    --color-button-border-secondary: #000000;
    --color-button-background-secondary: #FFFFFF;
    --color-button-hover-secondary: #E2E7EA;
    --color-button-text-secondary: #000000;
    --color-navigation-l2-background: #cbe0f5;

    --black: #000000;
    --message-error-foreground: #8d313d;
    --message-error-background: #f2dede;
    --message-info-foreground: #23485a;
    --message-info-background: #d9ecf8;
    --message-success-foreground: #2d6524;
    --message-success-background: #dff0d5;
    --message-warning-foreground: #745f1d;
    --message-warning-background: #f7eabc;
}
.blue {
	color: var(--color-blue-main);
}
.red {
    color: var(--color-red);
}
.brick-red {
    color: var(--color-red-dark);
}
