:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-purple: #8676c1;
    --color-green: #2e964e;
    --color-brown: #79675c;
    --color-pink: #d774a1;
    --color-orange: #df5e2e;
    --color-blue: #3ba7cb;
    --color-red: #ff0000;
    --color-brick-red: #A52A2A;
    --color-off-white: #f2f2f2;
    --color-light-gray: #e0e0e0;
    --color-medium-gray: #9d9d9d;
    --color-dark-gray: #777777;
    --color-blue-main: #0066CC;
    --color-blue-light: #99C2EB;
    --color-blue-dark: #004D99;
    --color-green-main: #0D9A48;
    --color-green-light: #99D699;
    --color-green-dark: #09743B;
    --color-button-border-primary: #e0e0e0;
    --color-button-background-primary: #0066cc;
    --color-button-hover-primary: #99C2EB;
    --color-button-active-primary: #004d99;
    --color-button-text-primary: #FFFFFF;
    --color-button-border-secondary: #000000;
    --color-button-background-secondary: #FFFFFF;
    --color-button-hover-secondary: #E2E7EA;
    --color-button-text-secondary: #000000;
}
.blue {
	color: var(--color-blue);
}
.red {
    color: var(--color-red);
}
.brick-red {
    color: var(--color-brick-red);
}
