:host {
    display: block;
    font-family: 'Montserrat';
  }

  .login-form {
    padding: 6em 0;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    margin: auto;
    width:450px;
    display: flex;  
    flex-direction: column;
    .logo-header {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      img.icon {
        height: 100px;
      }
    }
    p {
        font-size: 1em;
        line-height: 1.2em;
        margin: 0 auto .5em auto;
        width: 100%;
        padding: 0;
        ul {
            text-align: left;
            width: 200px;
            margin: 0.5em auto 0.5em auto;
        }
    }
    .form-item {
      margin: 0 auto .5em auto;
      text-align: right;
      label {
        display: inline-block;
        width: 200px;
        text-align: right;
        padding-right: .5em;
      }
      input {
        width: 225px;
      }
    }
    .hidden {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    
  }
  
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 1024px) {
  
  }
  
  @media (max-width: 1200px) {
  
  }