.form-item {
    display: flex;
    gap: 1em;
    flex-direction: row;   
    .profile-image{
        flex: 0 0 5em;
        width: 5em;
        height: 5em;
        line-height: 5em;
        margin: 0;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.button-container{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    .delete{
        margin-right: auto;
    }
}