:host {
  display: block;
}

.overlay{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  transition: all 300ms ease-in-out;
  .dialog{
    transform: scale(0);
    transition: all 300ms ease-in-out;
    width: fit-content;
    height: fit-content;
  }
  &.visible{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: grayscale(0.8);
    .dialog{
      transform: scale(1);
      background-color: white;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
      border: 1px solid #888;
      position: relative;
      &.primary{
        border-top: 0.5em solid var(--color-primary-main);
      }
      &.secondary{
        border-top: 0.5em solid var(--color-secondary-main);
      }
      &.tertiary{
        border-top: 0.5em solid var(--color-tertiary-main);
      }
      &.primary{
        border-top: 0.5em solid var(--color-primary-main);
      }
      &.neutral{
        border-top: 0.5em solid var(--color-neutral-main);
      }
      &.success{
        border-top: 0.5em solid var(--color-success-main);
      }
      &.warning{
        border-top: 0.5em solid var(--color-warning-main);
      }
      &.danger{
        border-top: 0.5em solid var(--color-danger-main);
      }
      &.info{
        border-top: 0.5em solid var(--color-info-main);
      }
      ::slotted(*){
        padding: 3em;
      }
      .footer{
        ::slotted(*){
          padding: 1em;
          border-top: 1px solid var(--color-neutral-light);
        }
      }
      button.close{
        border: 0;
        padding: 0;
        background-color: transparent;
        border:none;
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        svg{
          fill: var(--color-neutral-dark);
        }
      }
    }
  }
}