.hero {
  min-height: 800px;
  background: 
    linear-gradient(rgba(121, 103, 91,1) 5%, rgba(121, 103, 91,0.5) 25%, rgba(121, 103, 91,0) 50%),
    url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Hero_5a6f8fbd0f.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color: #fff;
    position: relative;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  background-color: #fff;
  color: #000;
}

nav.brown {
  background-color: #79675c;
  color: #fff;
}

nav .logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 62px;
  width: 200px;
}

nav .logo {
  background-image: url('/assets/icon/TIN-Logo-Horizontal-BLK.png');
}

nav.brown .logo {
  background-image: url('/assets/icon/TIN-Logo-Horizontal-Reversed.png');
}

nav .logo a {
  text-decoration: none;
}

nav .logo a:hover,
nav .logo a:visited,
nav .logo a:active {
  color: #000; 
}

nav.brown .logo a:hover,
nav.brown .logo a:visited,
nav.brown .logo a:active {
  color: #fff; 
}

.menu {
  display: flex;
  margin-top: 10px;
}

.menu ul.parent {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.menu ul.parent a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  font-weight: 500;
}

.menu ul.parent a {
  color: #000;
}

nav.brown .menu ul.parent a {
  color: #fff;
}

.menu ul.parent a.link-active {
  font-weight: 700;
}

.menu ul.parent a:hover {
  font-weight: 700;
}

.menu ul.parent a:hover {
  color: #000;
}

nav.brown .menu ul.parent a:hover {
  color: #fff;
}

/* DROPDOWN MENU */
.menu .dropdown-container {
  position: relative; 
 }
 .menu .dropdown-container > a::after {
  content: '>';
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 10px;
  scale: 2 1;
  font-weight: 100;
 }
 .menu .dropdown > li > a:hover {
  font-weight: 500;
 }
 .menu .dropdown-container .dropdown {
  background-color: #000;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  list-style-type: none;
  opacity: 0.85;
 }
 
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
.menu .dropdown-container:hover .dropdown {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
 }
 .menu .dropdown li + li {
  margin-top: 10px;
 }
 .menu .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: left;
 }
 .menu .dropdown li a {
  color: #fff;
 }
 .menu .dropdown li:hover {
  background-color: #fff;
 }
 .menu ul.dropdown > li:hover > a,
 .menu ul.dropdown > li:hover > a:hover {
  color: #000;
  font-weight: 700;
 }


/* CHECKBOX HACK */
input#menu_checkbox_toggle{
  display: none;
 } 

 /*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

div.login-button {
  margin-top: 25px;
  display: none; /** Hiding login for initial release **/
}

div.login-button > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: small;
  font-weight: 600;  
  border: 2px solid #fff;
  padding: 5px;
}

div.login-button > a.link-active {
  font-weight: 600;
}

div.login-button > a:hover {
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.hero p {
  color: #fff;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 3em;
  padding-top: 3em;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 3em;
  padding-top: 3em;
  margin: 0;
}

h3 {
  font-size: 2em;
}

p {
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.6em;
  width: 45%;
  margin: auto;
  padding-top: 1.5em;
}

hr {
  width: 3.5em;
  border: none;
  height: 3px;
  background-color: #000;
  margin: 1.5em auto 0 auto;
}

hr.purple {
  background-color:#8676c1;
}

.purple {
  color:#8676c1;
}

hr.green {
  background-color:#2e964e;
}

.green {
  color:#2e964e;
}

hr.pink {
  background-color:#d774a1;
}

.pink {
  color:#d774a1;
}

hr.orange {
  background-color:#df5e2e;
}

.orange {
  color:#df5e2e;
}

hr.blue {
  background-color:#3ba7cb;
}

.blue {
  color:#3ba7cb;
}

.triple-image {
  display: flex;
  flex-flow: row;
  padding: 9em 0 0 0;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.triple-image > div {
  flex: 1 0 auto;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.triple-image.image-set-1 > div:nth-child(1) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_1_372c3bce80.png');
}

.triple-image.image-set-1 > div:nth-child(2) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_2_62a1bbb9b3.png');
}

.triple-image.image-set-1 > div:nth-child(3) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_3_6e3e0e6cf2.png');
}

.triple-image.image-set-2 > div:nth-child(1) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_8_972043d5fb.png');
}

.triple-image.image-set-2 {
  padding: 0;
}

.triple-image.image-set-2 > div:nth-child(2) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_9_bcf43e60d2.png');
}

.triple-image.image-set-2 > div:nth-child(3) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_10_1d8b321864.png');
}

.single-image {
  display: flex;
  flex-flow: row;
  padding: 9em 0 0 0;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.single-image > div {
  flex: 1 0 auto;
  aspect-ratio: 3/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.single-image > div.image1 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_5_d02617d813.jpg');
}

.single-image > div.image2 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_7_93598c1197.jpg');
}

.single-image > div.image3 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/hobe_sound_wedding_weekend_1_01_a89f8ce18c.jpg');
  background-position: bottom;
}

.single-image > div.image4 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/haiku_mill_wedding_10_2200x1467_83f57e71f6.jpg');
  background-position: bottom;
}
.single-image:has(div.image3) {
  padding: 4.5em 0 0 0;
}

.left-image, 
.right-image {
  display: flex;
  flex-flow: row;
  padding: 9em 0 0 0;
  margin: 0;
  flex-wrap: nowrap;
}

.left-image .image-container > div:nth-child(1) {
  flex: 0 0 33%;
}
.left-image .image-container > div:nth-child(2) {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_4_8a315438c4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 66%;
}

.left-image .text-container {
  flex: 0 0 50%;
  margin: 0 0 0 3em;
}

.right-image .text-container {
  flex: 0 0 50%;
  margin: 0 0 0 9em;
}

.left-image .text-container h2,
.right-image .text-container h2 {
  text-align: left;
  padding-top: 0;
}

.left-image .text-container hr,
.right-image .text-container hr {
  margin: 1.5em 0 0 0;
  width: 3.5em;
}

.left-image .text-container .list {
  counter-reset: list-number;
  margin: 3em 0 0 0;
}

.left-image .text-container .list-item-container {
  display: grid;
  grid-template-columns: 3em 100%;
  margin: 0 0 2em 0;
}

.list-item-container > div.counter-container:before {
  counter-increment: list-number;
  content: counter(list-number, decimal-leading-zero);
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.left-image .text-container .list div p {
  margin: 0 0 0 2em;
  text-align: left;
  display: inline-flex;
  padding-top: 0.25em;
  width: 80%;
  font-size: 1.3em;
  line-height: 1.6em;
}

.left-image .image-container,
.right-image .image-container {
  flex: 0 0 33%;
  display: flex;
}

.right-image .image-container > div:nth-child(2) {
  flex: 0 0 33%;
}

.right-image .image-container > div:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0 0 66%;
}

.right-image .image-container > div.image5 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Image_6_5193a0d5b3.jpg');
}

.right-image .image-container > div.image6 {
  background-image: url('https://pro-icon-strapi.s3.amazonaws.com/The_Day_Ira_Lippke_P0096_72dpi_200x300_2x_ed2b5f8c86.jpg');
}


.right-image p {
  font-size: 1.3em;
  line-height: 1.6em;
  text-align: left;
  width: auto;
  padding: 0;
  margin: 0 10% 0 0;
}

.tab-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tab-link {
  flex: 0 0 45%;
  margin: 3em 0 0 0;
}

.tab-link > span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
  cursor: pointer;
}

.tab-link > span.selected {
  text-decoration: underline;
  color: #8676c1;
}

.hidden {
  display: none;
}

.tabContent {
  margin: 0 9em;
}

.tabContent h2 {
  font-size: 2em;
  text-align: left;
}

.tabContent hr {
  width: 100%;
  height: 1px;
}

.tabContent .item {
  display: flex;
}

.tabContent .item > div {
  flex: 0 0 50%;
  margin: 1.5em 0 0 0;
}

.tabContent .item > div.label {
  font-size: 1.5em;
  font-weight: 700;
  color: #8676c1;
  margin: 1.5em 0 0 0;
}

.tabContent .item > div.content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tabContent .item > div.content li {
  margin: 0 0 1.5em 0;
  padding-left: 1em;
  text-indent: -1em;
}

.tabContent .item > div.content li:before {
  content: '+';
  padding-right: 5px;
  color: #8676c1;
  font-weight: 700;
}

.accent-block {
  background-color: #f2f2f2;
  padding: 6em 0;
}

.accent-block h2 {
  padding: 0;
}

.planner-grid {
  padding: 6em 0;
}

@keyframes founderLogoCarousel {
  0% {
    opacity:0;
  }
  6.7% {
    transform: translateX(-250px);
    opacity:1;
  }  
  33.5% {
    transform: translateX(-1250px);
    opacity:1; 
  }  
  40.2% {
    transform: translateX(-1500px);
    opacity:0;
  }  
}

.founding-planner-logo-ctn {
  position: relative;
  width: 100vw;
  height: 125px;
  margin: 3em 0;
  min-width: 1250px;
  overflow: hidden;
}

.founding-planner-logo-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% + 625px);
  opacity: 0;
  animation: founderLogoCarousel 30s linear infinite; 
  width: 250px;
  height: 125px;
}
.founding-planner-logo-ctn > img:nth-child(2) {
  animation-delay: 2s;
}
.founding-planner-logo-ctn > img:nth-child(3) {
  animation-delay: 4s;
}
.founding-planner-logo-ctn > img:nth-child(4) {
  animation-delay: 6s;
}
.founding-planner-logo-ctn > img:nth-child(5) {
  animation-delay: 8s;
}
.founding-planner-logo-ctn > img:nth-child(6) {
  animation-delay: 10s;
}
.founding-planner-logo-ctn > img:nth-child(7) {
  animation-delay: 12s;
}
.founding-planner-logo-ctn > img:nth-child(8) {
  animation-delay: 14s;
}
.founding-planner-logo-ctn > img:nth-child(9) {
  animation-delay: 16s;
}
.founding-planner-logo-ctn > img:nth-child(10) {
  animation-delay: 18s;
}
.founding-planner-logo-ctn > img:nth-child(11) {
  animation-delay: 20s;
}
.founding-planner-logo-ctn > img:nth-child(12) {
  animation-delay: 22s;
}
.founding-planner-logo-ctn > img:nth-child(13) {
  animation-delay: 24s;
}
.founding-planner-logo-ctn > img:nth-child(14) {
  animation-delay: 26s;
}
.founding-planner-logo-ctn > img:nth-child(15) {
  animation-delay: 28s;
}

.leadership-team-item {
  display: flex;
  margin: 6em;
}

.leadership-team-item .headshot {
  margin: 0 3em 0 0;
}

.leadership-team-item .headshot img {
  max-height: 300px;
}

.leadership-team-item .info {
  flex: 0 0 66%;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leadership-team-item .info:has(.read-more.clicked) {
  max-height: fit-content;
  overflow: auto;
  text-overflow: unset;
}

.leadership-team-item .info h3 {
  margin-block: 0;
  margin: 0.25em 0;
}

.leadership-team-item .info .title {
  font-size: 1.5em;
  font-style: italic;
  margin: 0 0 0.25em 0;
}

.leadership-team-item .info .bio {
  position: relative;
}

.leadership-team-item .info .bio .read-more {
  position: absolute;
  display: inline-block;
  top: 170px;
  right: 0;
  font-size: 1.0;
  font-weight: 700;
  font-size: 1.25em;
  text-decoration: underline;
  background-color: #fff;
  padding: .75em;
  cursor: pointer;
}

.leadership-team-item .info .bio p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
  padding: 0 0 1em 0;
}

.leadership-team-item .info .bio .read-more.blue {
  color: #3ba7cb;
}

.leadership-team-item .info .bio .read-more.purple {
  color: #8676c1;
}

.leadership-team-item .info .bio .read-more.green {
  color: #2e964e;
}

.leadership-team-item .info .bio .read-more.pink {
  color: #d774a1;
}


.leadership-team-item .info .bio .read-more.clicked {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}

footer {
background-color: #000000;
color: #fff;
}

footer > div {
  width: 25%;
}

footer .logo-container {
  display: flex;
  flex-direction: column;
}

footer .logo-container > div {
 display: flex;
 justify-content: center;
}

footer .logo-container .icon-network-vertical-logo {
  width: 125px;
  margin: 0;
}

footer .logo-container .icon {
 height: 32px;
 margin: 0;
}

footer .container h2 {
 font-size: 0.8em;
 text-transform: uppercase;
 margin: 0;
 padding: 0 0 0.5em 0;
 text-align: left;
 font-weight: 700;
}

footer address {
 font-size: 0.8em;
 font-style: normal;
 line-height: 2em;
}

footer address a,
footer address a:visited,
footer address a:hover,
footer address a:active,
footer .container h2 a,
footer .container h2 a:visited,
footer .container h2 a:hover,
footer .container h2 a:active {
 text-decoration: none;
 color: #ffffff;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding-inline: 0;
}

footer li {
  line-height: 1.5em;
}

footer li a {
  font-size: 0.8em;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

footer address a,
footer address a:visited,
footer address a:hover,
footer address a:active {
  text-transform: none;
}

@media (max-width: 480px) {
  nav {
    height: 40px;
  }
  nav .logo {
    margin-left: .5em;
    min-width: 100px;
  }
  nav .logo > h1 {
    font-size: 1em;
  }  
  .hero {
    min-height: 400px;
  }
  h1 {
    font-size: 2em;
    padding-top: 1em;
  }
  p {
    font-size: 1em;
    width: 75%;
    padding-top: 1em;
  }

  .triple-image {
    padding: 3em 0 0 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: .5rem;
  }

  footer > div {
    width: 50%;
    margin-top: .5rem;
 }
}

@media (max-width: 768px) {
  div.login-button {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .menu { 
    display:none;
    position: absolute;
    background-color:#79675c;
    right: 0;
    left: 0;
    margin: 0;
    text-align: center;
  }
  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }
  .menu ul.parent {
    flex-direction: column;
    padding-inline-start: 0;
  }
  .menu input#menu_checkbox_toggle:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
  .menu ul.dropdown {
    position: relative;
    background-color: #79675c;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .menu ul.dropdown li {
    width: 100%;
    padding: 0;
  }
  .menu ul.dropdown li a {
    text-transform: none;
    font-size: 0.7em;
  }

  .menu .dropdown-container > * > a::after {
    content: '';
    margin-left: 0;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 1200px) {

}