:host {
    display: block;
    font-family: 'Montserrat';
  }

  .login-form {
    padding: 6em 0;
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    margin: auto;
    width:450px;
    display: flex;  
    flex-direction: column;
    .form-item {
      margin: 0 auto .5em auto;
    }
  }
  .logo-header {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .logo-header img.icon {
      height: 100px;
  }
  
  @media (max-width: 480px) {
    .hero {
      min-height: 400px;
    }
  }
  
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 1024px) {
  
  }
  
  @media (max-width: 1200px) {
  
  }