:host {
  display: block;
  position: relative;
}
.nav-profile-button{
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 3em;
  width: 3em;
  border: none;
  font-size: inherit;
  cursor: pointer;
  .profile-image{
    height: 2em;
    width: 2em;
  }
}

.popdown{
  position: absolute;
  display: none;
  right: 0;
  top: 45px;

  &.show{
    display: inline-block;
  }
  .content{
    min-width: 10em;
    max-width: 15em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid var(--color-light-gray);
    padding: 0.5em;
    margin-top: 0.5em;
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .profile-image{
      height: 5em;
      width: 5em;
    }
    .basic-info{
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      span{
        font-size: 0.8em;
      }
    }
    .controls{
      border-top: 1px solid lightgray;
      padding: 1em 1em 0 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      a{
        white-space: nowrap;
        font-size: 0.9em;
        font-weight: bold;
        text-decoration: none;
      }
      a:link, a:visited, a:active {
        color: var(--color-blue-main);
      }
      a:hover {
        transition: 1000ms;
        color: var(--color-blue-light);
      }
    }
    .controls.logout {
      padding: 1em;
    }
  }
}