 div.logo-header {
    display: flex;
    justify-content: center;
}

div.logo-header img.icon {
    height: 100px;
}

footer {
    display: none !important;
}

@media (max-width: 768px) {
    div.logo-header img.icon {
        height: 50px;
    }
}
