div.login-button {
	margin-top: 25px;
	>a {
		text-decoration: none;
		text-transform: uppercase;
		color: var(--color-background);
		font-size: small;
		font-weight: 600;
		border: 2px solid var(--color-background);
		padding: 5px;
		&:hover {
			font-weight: 600;
			color: var(--color-background);
			cursor: pointer;
		}
	}
	>a.link-active {
		font-weight: 600;
	}
}

nav.white div.login-button {
	>a {
		color: var(--color-foreground);
		border: 2px solid var(--color-foreground);
		&:hover {
			color: var(--color-foreground);
		}
	}
}

@media (max-width: 768px) {
	div.login-button {
		margin-top: 10px;
		font-size: 0.8em;
	}
}
