body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1 {
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 3em;
	padding-top: 3em;
	margin: 0;
}
h2 {
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 3em;
	padding-top: 3em;
	margin: 0;
}
h3 {
	font-size: 2em;
}
p {
	color: var(--color-black);
	text-align: center;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.6em;
	width: 45%;
	margin: auto;
	padding-top: 1.5em;
}
hr {
	width: 3.5em;
	border: none;
	height: 3px;
	background-color: var(--color-black);
	margin: 1.5em auto 0 auto;
}
hr.purple {
	background-color: var(--color-purple);
}
.purple {
	color: var(--color-purple);
}
hr.green {
	background-color: var(--color-green);
}
.green {
	color: var(--color-green);
}
hr.pink {
	background-color: var(--color-pink);
}
.pink {
	color: var(--color-pink);
}
hr.orange {
	background-color: var(--color-orange);
}
.orange {
	color: var(--color-orange);
}
hr.blue {
	background-color: var(--color-blue);
}
@media (max-width: 480px) {
	h1 {
		font-size: 2em;
		padding-top: 1em;
	}
	p {
		font-size: 1em;
		width: 75%;
		padding-top: 1em;
	}
}
