header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: #79675c;
  color: #fff;
  height: 62px;
}

.logo-container > h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
