footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
    margin-top: 2rem;
}

footer {
  background-color: #000000;
  color: #fff;
}

 footer > div {
    width: 25%;
 }

 .logo-container {
    display: flex;
    flex-direction: column;
 }

 .logo-container > div {
   display: flex;
   justify-content: center;
 }

 .logo-container .icon {
   height: 16px;
   margin-left: 0.25em;
   margin-right: 0.25em;
 }

 footer .container h2 {
   font-size: 0.8em;
   text-transform: uppercase;
   margin: 0;
   padding-bottom: 0.5em;
 }

 footer address {
   font-size: 0.8em;
   font-style: normal;
 }

 footer address a,
 footer address a:visited,
 footer address a:hover,
 footer address a:active,
 footer .container h2 a,
 footer .container h2 a:visited,
 footer .container h2 a:hover,
 footer .container h2 a:active {
   text-decoration: none;
   color: #ffffff;
 }

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: .5rem;
  }

  footer > div {
    width: 50%;
    margin-top: .5rem;
 }
}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1200px) {

}