nav {
  margin-top: 35px;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: small;
  font-weight: 300;
}

nav > ul li a.link-active {
  font-weight: 500;
}

nav > ul li a:hover {
  font-weight: 500;
  color: #fff;
}
