.revo-grid[theme=material] {
    font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25em;
    .rgHeaderCell {
        .header-content {
            font-weight: 700;
        }
        i:after {
            font-size: 1.5em;
            font-weight: 600;  
            font-style: normal;          
        }
        .rv-filter {
            width: 24px;
            height: 24px;
            padding: 0;
        }
    }
    .rgRow {
        .rgCell {
            .first-name, .last-name {
                font-weight: 600;
            }
            a.edit-person,
            a.edit-person:visited {
                color: var(--color-foreground);
            }
            a.edit-person:hover {
                transition: 1000ms;
                color: var(--color-primary-light);  
            }
        }
    }
    .revo-button {
        font-size: 1em;
    }
    .revo-button.red {
        border: solid var(--color-primary-main) 1px;
        background-color: var(--color-primary-main);
        color: var(--color-foreground);
        border-radius: 50px;
    }
    .revo-button.red:hover {
        transition: 1000ms;
        border: solid var(--color-primary-light) 1px;
        background-color: var(--color-primary-light);
    }
    .revo-button.light {
        border: solid var(--color-foreground) 1px;
        background-color: var(--color-background);
        color: var(--color-foreground);
        border-radius: 50px;        
    }
    .revo-button.light:hover {
        transition: 1000ms;
        border: solid var(--color-neutral-light) 1px;
        background-color: var(--color-neutral-light);
    }
}

.success{
    color: var(--color-success-main);
}

.danger{
    color: var(--color-danger-main);
}