.hero {
	min-height: 800px;
	background: linear-gradient(rgba(121, 103, 91,1) 5%, rgba(121, 103, 91,0.5) 25%, rgba(121, 103, 91,0) 50%), url('https://pro-icon-strapi.s3.amazonaws.com/TIN_Hero_5a6f8fbd0f.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--color-white);
	position: relative;
	p {
		color: var(--color-white);
		font-weight: 400;
	}
}
@media (max-width: 480px) {
	.hero {
		min-height: 400px;
	}
}
