button {
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px 50px;
    border: solid var(--color-light-gray) 1px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

button.primary-action {
    border: solid var(--color-button-background-primary) 1px;
    background-color: var(--color-button-background-primary);
    color: var(--color-button-text-primary);
}

button.secondary-action {
    border: solid var(--color-button-border-secondary) 1px;
    background-color: var(--color-button-background-secondary);
    color: var(--color-button-text-secondary);
}

button.primary-action:hover {
    transition : 1000ms;
    border: solid var(--color-button-hover-primary) 1px;
    background-color: var(--color-button-hover-primary);
}

button.secondary-action:hover {
    transition : 1000ms;
    background-color: var(--color-button-hover-secondary);
}