button {
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px 50px;
    border: solid var(--color-neutral-light) 1px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
