.profile-page {
    display: flex;
    padding-top: 62px;
    aside {
        flex: 1 0 15%;
        border-right: 2px solid var(--color-light-gray);
    }

    main {
        flex: 1 0 85%;
        margin-left: 6em;
        margin-top: 4em;
        h1 {
            text-align: left;
            padding-top: .5em;
        }
        h2 {
            text-align: left;
            text-transform: none;
            font-size: 2em;
            font-weight: 400;
            padding-top: 2em;
        }
        p {
            font-size: 1.5em;
            font-weight: 400;
            text-align: left;
            margin: initial;
            width: 80%;
        }
    }

    .box-container {
        border: 2px solid var(--color-light-gray);
        box-shadow:  rgb(0 0 0 / 15%) 0px 2px 8px;
    }

    .profile-box {
        width: 80%;
        margin-top: 2em;
        margin-bottom: 4em;
        .profile-item {
            display: flex;
            padding: 2em 4em;
            border-bottom: 2px solid var(--color-light-gray);
            .label {
                flex: 1 0 20%;
                font-weight: 700;
                font-size: 1.5em;
            }
            .label.centered {
                display: flex;
                align-items: center;
            }
            .content {
                flex: 1 0 80%;
                display: grid;            
                .profile-item-row {
                    width: 100%;
                    display: flex;
                    .action-link {
                        font-size: 1em;
                        font-weight: 600;                        
                    }
                    .actions {
                        .action {
                            margin-top: .75em;
                            cursor: pointer;
                            min-width: 90px;
                            i {
                                padding-right: 5px;
                            }
                            .action-link {
                                font-size: 1em;
                                font-weight: 600;
                            }
                            .action-link.primary {
                                font-size: 1.2em;
                                color: var(--color-blue);
                            }
                            .action-link.secondary {
                                color: var(--color-black);
                            }
                        }
                        .action.disabled {
                            cursor: default;
                            i {
                                color: var(--color-medium-gray);
                            }
                            .action-link {
                                color: var(--color-medium-gray) !important;
                                text-decoration: none !important;
                                cursor: default !important;
                            }                      
                        }
                    }
                    .actions.centered {
                        align-items: center;
                    }
                    .value {
                        flex: 1 0 80%;
                        font-size: 1.5em;
                        font-weight: 400;
                        display: flex;
                        .profile-image {
                            background-color: var(--color-purple);
                            color: var(--color-white);
                            line-height: 3em;
                            text-align: center;
                            height: 75px;
                            width: 75px;
                            border-radius: 75px;
                            .profile-image-disc {
                                img {
                                    display: inline-block;
                                    position: relative;
                                    top: -73px;
                                    height: 75px;
                                    width: 75px;
                                    border-radius: 50%;                                   
                                }
                            }
                        }
                        .profile-logo {
                            background-color: var(--color-medium-gray);
                            color: var(--color-white);
                            line-height: 3em;
                            text-align: center;
                            height: 75px;
                            width: 75px;
                            border-radius: 75px;
                        }
                        .pronouns {
                            font-size: 0.8em;
                            line-height: 1em;
                            padding-top: .3em;
                            padding-left: .2em;
                        }
                        .add-another {
                            color: var(--color-blue);
                            font-weight: 600;
                            padding-top: 1em;
                        }
                        .label {
                            font-size: 1em;
                        }
                        .value {
                            font-size: 1em;
                        }
                    }
                    .value.small-wide-two-column-list {
                        display: grid;
                        grid-template-columns: 1fr 9fr; 
                        .disabled {
                            color: var(--color-medium-gray);
                        }        
                    }
                    .value.textarea {
                        flex-direction: column;
                        padding-right: 1em;
                        .action-link {
                            font-size: .8em;
                        }
                    }
                    img.logo-image.hydrated {
                        max-height: 150px;
                    }
                }
                hr {
                    height: 2px;
                    background-color: var(--color-light-gray);
                    width: 100%;
                    margin: 1em 0;
                }
            }
        }
        .profile-item.last {
            border-bottom: none;
        }
    }

    .companies-grid {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 2em;
        margin-bottom: 4em;
        width: 80%;
        .company-box {
            padding: 2em 0;
            min-width: 325px;
            max-width: 500px;
            text-align: center;
            .company-row {
                padding: 0 2em;
                .logo-image {
                    img {
                        max-width: 50%;
                    }
                }
                .logo {
                    background-color: var(--color-medium-gray);
                    color: var(--color-white);
                    line-height: 3em;
                    margin: auto;
                    height: 75px;
                    width: 75px;
                    border-radius: 75px;
                    i {
                        font-size: 2.5em;
                        line-height: 1.9em;
                    }
                }
                .company-name {
                    font-size: 1.5em;
                    font-weight: 700;
                    margin-top: 1em;
                }        
                button {
                    margin: 1em auto;
                }
            }
    
            hr {
                height: 2px;
                background-color: var(--color-light-gray);
                width: 100%;
                margin: 1em 0;
            }
        }
    }

    .companies-list {
        margin-top: 2em;
        margin-bottom: 1.5em;
        width: 80%;
        .company-item {
            display: grid;
            grid-template-columns: 3fr 2fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 1em;           
            padding: 2em 4em;
            border-bottom: 2px solid var(--color-light-gray);
            .label {
                font-size: 1.5em;
                font-weight: 700;
            }
            .status {
                font-size: 1.5em;
                font-weight: 400;
            }
        }
        .company-item.disabled {
            .label {
                color: var(--color-medium-gray);
            }
            .status {
                color: var(--color-medium-gray);
            }
            .contact {
                .action-link {
                    color: var(--color-medium-gray);
                    cursor: default;
                }
            }
        }
        .company-item.last {
            border-bottom: none;
        }
    }

    .media-grid {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 2em;
        margin-bottom: 4em;
        width: 80%;
        .media-box,
        .add-media-box {
            display: flex;
            min-width: 325px;
            max-width: 500px;  
        }
        .media-box {
            flex-direction: column;
            .media-preview {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 225px;
                background-color: var(--color-medium-gray);
                i.fa-image {
                    font-size: 6em;
                    color: var(--color-dark-gray);
                }
            }
            .media-info,
            .actions {
                padding: 1em 2em;
                display: flex;
            } 
            .media-info {
                flex-direction: column;
                border-bottom: 2px solid var(--color-light-gray);
                .filename {
                    font-weight: 500;
                }
                .filetype {
                    font-weight: 700;
                }
            }
            .actions {
                display: grid;
                grid-template-columns: 3fr 1fr;
                .edit {
                    span {
                        font-size: 1.5em;
                        font-weight: 700;
                        color: var(--color-black);
                    }
                    span:hover {
                        color: var(--color-blue);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .delete {
                    display: flex;
                    justify-content: right;
                    i {
                        font-size: 1.2em;
                        line-height: 1.5em;
                        font-weight: 700;
                        cursor: pointer;   
                    }
                    i:hover {
                        color: var(--color-brick-red);
                    }
                }

            }       
        }
        .add-media-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
                font-size: 6em;
                cursor: pointer;
                margin-bottom: 0.25em;
            }
            .call-to-action {
                font-size: 1.5em;
                font-weight: 700;
                margin-bottom: 1.5em;
            }
        }
    }

    .collapse-container {
        width: 80%;
        text-align: right;
        margin-bottom: 2em;
    }
    .expand-container {
        margin-bottom: 2em;
    }

    .action-link  {
        font-size: 1.5em;
        font-weight: 600;
        color: var(--color-blue-main);
        text-decoration: underline;
        cursor: pointer;
        a, a:active, a:link, a:visited {
            color:  var(--color-blue-main);
        }
        a:hover {
            transition: 1000ms;
            color: var(--color-blue-light);    
        }
    }
    .action-link:hover {
        transition: 1000ms;
        color: var(--color-blue-light);
    }

    .id-timestamp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1em;           
        width: 80%;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 2em;
        color: var(--color-medium-gray);         
        .updated-message {
            font-style: italic;
            display: grid;
            justify-content: right;
        }
    }

    .hidden {
        display: none;
    }
}
.profile-page.person-at-company,
.profile-page.company {
    main {
        h2 {
            font-size: 2.5em;
            font-weight: 400;
            padding-top: 1.5em;
        }
        .action-link-navigation {
            font-size: 1.2em;
            font-weight: 700;
            color: var(--color-blue-main);
            text-decoration: none;
            cursor: pointer;    
        }
        .action-link-navigation:hover {
            transition: 1000ms;
            color: var(--color-blue-light);
        }
        .company-header {
            display: grid;
            width: 80%;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 1em;           
            padding: 2em 0em 2em 0em;
            h1 {
                padding: 0;
            }
            .action-column {
                display: grid;
                align-items: end;
                justify-content: right;
                .action-link {
                    font-size: 1.2em;
                }
            }
        }
        .tab-grid {
            display: grid;
            width: fit-content;
            max-width: 80%;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 1fr;
            grid-column-gap: 3em;   
            .tab {
                font-size: 1.2em;
                font-weight: 500;
                padding-bottom: .75em;
                cursor: pointer;
            } 
            .tab.selected {
                font-weight: 700;
                border-bottom: 5px solid var(--color-green-main);
            }
            .tab:hover {
                color: var(--color-medium-gray);
            }
        }
        .tab-grid.company {
            grid-template-columns: repeat(6, auto);
        }
        .revo-grid {
            width: 80%;
            height: 300px;
            margin-top: 2em;
            margin-bottom: 1em;
        }
        .company-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: .5em;
            margin-bottom: 4em;
            .location-name,
            .item-id {
                font-size: 1.5em;
                font-weight: 400;
            }
        }
        .company-list.child-companies {
            margin-bottom: 0.25em;
        }
        .child-companies-group {
            margin-bottom: 4em;
        }
        .include-inactive {
            margin-bottom: 2em;
        }
    }
}

@media (max-width: 768px) {
    .profile-page {
        padding-top: 40px;
        aside {
            flex: 1 0 0%;
            display: none;
        }
    
        main {
            flex: 1 0 100%;
            margin-left: 1em;
            margin-top: 1em;
            h1 {
                font-size: 1.5em;
            }
            h2 {
                font-size: 1.2em;
                padding-top: 1em;
            }
            p {
                font-size: 1em;
            }
            .profile-box {
                margin-top: 1em;
                margin-bottom: 2em;
                width: 90%;
                .profile-item {
                    padding: .25em .5em;
                    .label {
                        font-size: 0.8em;
                    }
                    .content {
                        .profile-item-row {
                            font-size: 0.8em;
                            .value {
                                font-size: 0.8em;
                                .profile-image,
                                .profile-logo {
                                    height: 35px;
                                    width: 35px;
                                    border-radius: 35px;
                                    font-size: 1.3em;
                                    line-height: 2.5em;
                                }
                                .label {
                                    font-size: 0.8em;
                                }
                            }
                            .actions {
                                font-size: 0.7em;
                                .action {
                                    min-width: none;
                                    .action-link {
                                        font-size: 0.7em;

                                    }
                                    .action-link.primary {
                                        font-size: 0.9em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .companies-list {
                width: 90%;
                .company-item {
                    padding: .5em 1em;
                    .label {
                        font-size: 1em;
                    }
                    .status {
                        font-size: 1em;
                    }
                    .contact {
                        .action-link {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
        .id-timestamp {
            width: 90%;
            .item-id {
                font-size: 0.8em;
            }              
            .updated-message {
                font-size: 0.8em;
            }     
        }
    }
    .profile-page.person-at-company {
        main {
            h2 {
                font-size: 1.5em
            }
            .action-link-navigation {
                font-size: .8em;
            }
            .company-header {
                grid-template-columns: 2fr 1fr;
                .action-column {
                    .action-link {
                        font-size: .6em;
                    }
                }
            }
            .tab-grid {
                .tab {
                    font-size: .8em;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .profile-page {   
        main {
            h1 {
                font-size: 1.4em;
            }
            h2 {
                font-size: 1.1em;
            }
            p {
                font-size: 0.8em;
            }
            .profile-box {
                .profile-item {
                    .label {
                        font-size: 0.6em;
                    }
                    .content {
                        .profile-item-row {
                            font-size: 0.7em;
                            .value {
                                font-size: 0.7em;
                                .profile-image,
                                .profile-logo {
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 30px;
                                    font-size: 1.5em;
                                    line-height: 2.5em;
                                }
                                .label {
                                    font-size: 0.7em;
                                    flex: 1 0 15%;
                                }
                                .value {
                                    flex: 1 0 70%;
                                }
                            }
                            .actions {
                                font-size: 0.6em;
                                .action {
                                    .action-link {
                                        font-size: 0.6em;
                                    }
                                    .action-link.primary {
                                        font-size: 0.8em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .companies-grid {
                .company-box {
                    min-width: 285px;
                    .company-row {
                        .company-name {
                            font-size: 1em;
                        }
                        button {
                            font-size: 1em;
                        }
                    }
                }
            }
            .companies-list {
                .company-item {
                    .label {
                        font-size: .8em;
                    }
                    .status {
                        font-size: .8em;
                    }
                    .contact {
                        .action-link {
                            font-size: .8em;
                        }
                    }
                }
            }
        }
        .action-link {
            font-size: 1em;
        }
        .id-timestamp {
            .item-id {
                font-size: 0.6em;
            }              
            .updated-message {
                font-size: 0.6em;
            }
        }
    }
    .profile-page.person-at-company {
        main {
            h1 {
                font-size: 1.2em;
            }
            h2 {
                font-size: 1.2em
            }
            .action-link-navigation {
                font-size: .6em;
            }
            .company-header {
                grid-template-columns: 2fr 1fr;
                .action-column {
                    .action-link {
                        font-size: .5em;
                    }
                }
            }
            .tab-grid {
                .tab {
                    font-size: .6em;
                }
            }
        }
    }
}