.tab-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.tab-link {
	flex: 0 0 45%;
	white-space: nowrap;
	margin: 3em 0.5em 0 0;
	>span {
		font-weight: 500;
		text-transform: uppercase;
		font-size: 1.3em;
		padding: 0.5em;
		border: 1px solid;
		cursor: pointer;
	}
	>span.selected {
		text-decoration: underline;
		color: var(--color-purple);
	}
}
.tabContent {
	margin: 0 9em;
	h2 {
		font-size: 2em;
		text-align: left;
	}
	hr {
		width: 100%;
		height: 1px;
	}
	.item {
		display: flex;
		>div {
			margin: 1.5em 0 0 0;
		}
		>div.label {
			flex: 0 0 30%;
			font-size: 1.5em;
			font-weight: 700;
			color: var(--color-purple);
			margin: 1.5em 0 0 0;
		}
		>div.content {
			flex: 0 0 70%;
			ul {
				list-style: none;
				margin-left: 0;
				padding-left: 0;
			}
			li {
				margin: 0 0 1.5em 0;
				padding-left: 1em;
				text-indent: -1em;
				&:before {
					content: '+';
					padding-right: 5px;
					color: var(--color-purple);
					font-weight: 700;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.tab-links {
		flex-direction: column;
	}
	.tabContent {
		width: 80%;
		margin: auto;
		.item {
			>div.label {
				font-size: 1.2em;
			}
			>div.content {
				font-size: .8em;
				padding: 0 0 0 1em;
			}
		}
	}
}
