@keyframes testimonialCarouselSlot1 {
	0% {
		transform: translateX(-2850px);
		opacity: 1;
	}
	15% {
		transform: translateX(-2850px);
	}
	20% {
		transform: translateX(-4000px);
	}
	35% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	40% {
		transform: translateX(-5150px);
		opacity: 0;
	}
	55% {
		transform: translateX(-5150px);
	}
	60% {
		transform: translateX(-550px);
	}
	75% {
		transform: translateX(-550px);
		opacity: 0;
	}
	80% {
		transform: translateX(-1700px);
		opacity: 1;
	}
	95% {
		transform: translateX(-1700px);
	}
	100% {
		transform: translateX(-2850px);
	}
}
@keyframes testimonialCarouselSlot2 {
	0% {
		transform: translateX(-1700px);
		opacity: 1;
	}
	15% {
		transform: translateX(-1700px);
	}
	20% {
		transform: translateX(-2850px);
	}
	35% {
		transform: translateX(-2850px);
	}
	40% {
		transform: translateX(-4000px);
	}
	55% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	60% {
		transform: translateX(-5150px);
		opacity: 0;
	}
	75% {
		transform: translateX(-5150px);
	}
	80% {
		transform: translateX(-550px);
	}
	95% {
		transform: translateX(-550px);
		opacity: 0;
	}
	100% {
		transform: translateX(-1700px);
		opacity: 1;
	}
}
@keyframes testimonialCarouselSlot3 {
	0% {
		transform: translateX(-550px);
		opacity: 0;
	}
	15% {
		transform: translateX(-550px);
		opacity: 0;
	}
	20% {
		transform: translateX(-1700px);
		opacity: 1;
	}
	35% {
		transform: translateX(-1700px);
	}
	40% {
		transform: translateX(-2850px);
	}
	55% {
		transform: translateX(-2850px);
	}
	60% {
		transform: translateX(-4000px);
	}
	75% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	80% {
		transform: translateX(-5150px);
		opacity: 0;
	}
	95% {
		transform: translateX(-5150px);
	}
	100% {
		transform: translateX(-550px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot4 {
	0% {
		transform: translateX(-5150px);
		opacity: 0;
	}
	15% {
		transform: translateX(-5150px);
	}
	20% {
		transform: translateX(-550px);
	}
	35% {
		transform: translateX(-550px);
		opacity: 0;
	}
	40% {
		transform: translateX(-1700px);
		opacity: 1;
	}
	55% {
		transform: translateX(-1700px);
	}
	60% {
		transform: translateX(-2850px);
	}
	75% {
		transform: translateX(-2850px);
	}
	80% {
		transform: translateX(-4000px);
	}
	95% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	100% {
		transform: translateX(-5150px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot5 {
	0% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	15% {
		transform: translateX(-4000px);
		opacity: 1;
	}
	20% {
		transform: translateX(-5150px);
		opacity: 0;
	}
	35% {
		transform: translateX(-5150px);
	}
	40% {
		transform: translateX(-550px);
	}
	55% {
		transform: translateX(-550px);
		opacity: 0;
	}
	60% {
		transform: translateX(-1700px);
		opacity: 1;
	}
	75% {
		transform: translateX(-1700px);
	}
	80% {
		transform: translateX(-2850px);
	}
	95% {
		transform: translateX(-2850px);
	}
	100% {
		transform: translateX(-4000px);
		opacity: 1;
	}
}
@keyframes testimonialCarouselSlot1-1150 {
	0% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	15% {
		transform: translateX(-2050px);
		opacity: 1;	
	}
	20% {
		transform: translateX(-3000px);
		opacity: 0;	
	}
	35% {
		transform: translateX(-3000px);

	}
	40% {
		transform: translateX(-3950px);

	}
	55% {
		transform: translateX(-3950px);
	}
	60% {
		transform: translateX(-150px);
	}
	75% {
		transform: translateX(-150px);
	}
	80% {
		transform: translateX(-1100px);

	}
	95% {
		transform: translateX(-1100px);
		opacity: 0;	
	}
	100% {
		transform: translateX(-2050px);
		opacity: 1;	
	}
}
@keyframes testimonialCarouselSlot2-1150 {
	0% {
		transform: translateX(-1100px);
		opacity: 0;
	}
	15% {
		transform: translateX(-1100px);
		opacity: 0;
	}
	20% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	35% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	40% {
		transform: translateX(-3000px);
		opacity: 0;
	}
	55% {
		transform: translateX(-3000px);
	}
	60% {
		transform: translateX(-3950px);
	}
	75% {
		transform: translateX(-3950px);
	}
	80% {
		transform: translateX(-150px);
	}
	95% {
		transform: translateX(-150px);
	}
	100% {
		transform: translateX(-1100px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot3-1150 {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	15% {
		transform: translateX(-150px);
	}
	20% {
		transform: translateX(-1050px);
	}
	35% {
		transform: translateX(-1050px);
		opacity: 0;
	}
	40% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	55% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	60% {
		transform: translateX(-3000px);
		opacity: 0;	
	}
	75% {
		transform: translateX(-3000px);

	}
	80% {
		transform: translateX(-3950px);
	}
	95% {
		transform: translateX(-3950px);
	}
	100% {
		transform: translateX(-150px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot4-1150 {
	0% {
		transform: translateX(-3950px);
		opacity: 0;
	}
	15% {
		transform: translateX(-9350px);
	}
	20% {
		transform: translateX(-150px);
	}
	35% {
		transform: translateX(-150px);
	}
	40% {
		transform: translateX(-1050px);
	}
	55% {
		transform: translateX(-1050px);
		opacity: 0;	
	}
	60% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	75% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	80% {
		transform: translateX(-3000px);
		opacity: 0;
	}
	95% {
		transform: translateX(-3000px);
	}
	100% {
		transform: translateX(-3950px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot5-1150 {
	0% {
		transform: translateX(-3000px);
		opacity: 0;
	}
	15% {
		transform: translateX(-3000px);
	}
	20% {
		transform: translateX(-3950px);
	}
	35% {
		transform: translateX(-3950px);
	}
	40% {
		transform: translateX(-150px);
	}
	55% {
		transform: translateX(-150px);
	}
	60% {
		transform: translateX(-1050px);
	}
	75% {
		transform: translateX(-1050px);
		opacity: 0;
	}
	80% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	95% {
		transform: translateX(-2050px);
		opacity: 1;
	}
	100% {
		transform: translateX(-3000px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot1-978 {
	0% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	15% {
		transform: translateX(-1600px);
		opacity: 1;	
	}
	20% {
		transform: translateX(-2400px);
		opacity: 0;	
	}
	35% {
		transform: translateX(-2400px);

	}
	40% {
		transform: translateX(-3200px);

	}
	55% {
		transform: translateX(-3200px);
	}
	60% {
		transform: translateX(-0px);
	}
	75% {
		transform: translateX(-0px);
	}
	80% {
		transform: translateX(-800px);

	}
	95% {
		transform: translateX(-800px);
		opacity: 0;	
	}
	100% {
		transform: translateX(-1600px);
		opacity: 1;	
	}
}
@keyframes testimonialCarouselSlot2-978 {
	0% {
		transform: translateX(-800px);
		opacity: 0;
	}
	15% {
		transform: translateX(-800px);
		opacity: 0;
	}
	20% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	35% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	40% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	55% {
		transform: translateX(-2400px);
	}
	60% {
		transform: translateX(-3200px);
	}
	75% {
		transform: translateX(-3200px);
	}
	80% {
		transform: translateX(-0px);
	}
	95% {
		transform: translateX(-0px);
	}
	100% {
		transform: translateX(-800px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot3-978 {
	0% {
		transform: translateX(-0px);
		opacity: 0;
	}
	15% {
		transform: translateX(-0px);
	}
	20% {
		transform: translateX(-800px);
	}
	35% {
		transform: translateX(-800px);
		opacity: 0;
	}
	40% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	55% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	60% {
		transform: translateX(-2400px);
		opacity: 0;	
	}
	75% {
		transform: translateX(-2400px);

	}
	80% {
		transform: translateX(-3200px);
	}
	95% {
		transform: translateX(-3200px);
	}
	100% {
		transform: translateX(-0px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot4-978 {
	0% {
		transform: translateX(-3200px);
		opacity: 0;
	}
	15% {
		transform: translateX(-3200px);
	}
	20% {
		transform: translateX(-0px);
	}
	35% {
		transform: translateX(-0px);
	}
	40% {
		transform: translateX(-800px);
	}
	55% {
		transform: translateX(-800px);
		opacity: 0;	
	}
	60% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	75% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	80% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	95% {
		transform: translateX(-2400px);
	}
	100% {
		transform: translateX(-3200px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot5-978 {
	0% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	15% {
		transform: translateX(-2400px);
	}
	20% {
		transform: translateX(-3200px);
	}
	35% {
		transform: translateX(-3200px);
	}
	40% {
		transform: translateX(-0px);
	}
	55% {
		transform: translateX(-0px);
	}
	60% {
		transform: translateX(-800px);
	}
	75% {
		transform: translateX(-800px);
		opacity: 0;
	}
	80% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	95% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	100% {
		transform: translateX(-2400px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot1-810 {
	0% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	15% {
		transform: translateX(-1600px);
		opacity: 1;	
	}
	20% {
		transform: translateX(-2400px);
		opacity: 0;	
	}
	35% {
		transform: translateX(-2400px);

	}
	40% {
		transform: translateX(-3200px);

	}
	55% {
		transform: translateX(-3200px);
	}
	60% {
		transform: translateX(-0px);
	}
	75% {
		transform: translateX(-0px);
	}
	80% {
		transform: translateX(-800px);

	}
	95% {
		transform: translateX(-800px);
		opacity: 0;	
	}
	100% {
		transform: translateX(-1600px);
		opacity: 1;	
	}
}
@keyframes testimonialCarouselSlot2-810 {
	0% {
		transform: translateX(-800px);
		opacity: 0;
	}
	15% {
		transform: translateX(-800px);
		opacity: 0;
	}
	20% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	35% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	40% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	55% {
		transform: translateX(-2400px);
	}
	60% {
		transform: translateX(-3200px);
	}
	75% {
		transform: translateX(-3200px);
	}
	80% {
		transform: translateX(-0px);
	}
	95% {
		transform: translateX(-0px);
	}
	100% {
		transform: translateX(-800px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot3-810 {
	0% {
		transform: translateX(-0px);
		opacity: 0;
	}
	15% {
		transform: translateX(-0px);
	}
	20% {
		transform: translateX(-800px);
	}
	35% {
		transform: translateX(-800px);
		opacity: 0;
	}
	40% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	55% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	60% {
		transform: translateX(-2400px);
		opacity: 0;	
	}
	75% {
		transform: translateX(-2400px);

	}
	80% {
		transform: translateX(-3200px);
	}
	95% {
		transform: translateX(-3200px);
	}
	100% {
		transform: translateX(-0px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot4-810 {
	0% {
		transform: translateX(-3200px);
		opacity: 0;
	}
	15% {
		transform: translateX(-3200px);
	}
	20% {
		transform: translateX(-0px);
	}
	35% {
		transform: translateX(-0px);
	}
	40% {
		transform: translateX(-800px);
	}
	55% {
		transform: translateX(-800px);
		opacity: 0;	
	}
	60% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	75% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	80% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	95% {
		transform: translateX(-2400px);
	}
	100% {
		transform: translateX(-3200px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot5-810 {
	0% {
		transform: translateX(-2400px);
		opacity: 0;
	}
	15% {
		transform: translateX(-2400px);
	}
	20% {
		transform: translateX(-3200px);
	}
	35% {
		transform: translateX(-3200px);
	}
	40% {
		transform: translateX(-0px);
	}
	55% {
		transform: translateX(-0px);
	}
	60% {
		transform: translateX(-800px);
	}
	75% {
		transform: translateX(-800px);
		opacity: 0;
	}
	80% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	95% {
		transform: translateX(-1600px);
		opacity: 1;
	}
	100% {
		transform: translateX(-2400px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot1-530 {
	0% {
		transform: translateX(-950px);
		opacity: 1;
	}
	15% {
		transform: translateX(-950px);
		opacity: 1;	
	}
	20% {
		transform: translateX(-1350px);
		opacity: 0;	
	}
	35% {
		transform: translateX(-1350px);

	}
	40% {
		transform: translateX(-1750px);

	}
	55% {
		transform: translateX(-1750px);
	}
	60% {
		transform: translateX(-150px);
	}
	75% {
		transform: translateX(-150px);
	}
	80% {
		transform: translateX(-550px);

	}
	95% {
		transform: translateX(-550px);
		opacity: 0;	
	}
	100% {
		transform: translateX(-950px);
		opacity: 1;	
	}
}
@keyframes testimonialCarouselSlot2-530 {
	0% {
		transform: translateX(-550px);
		opacity: 0;
	}
	15% {
		transform: translateX(-550px);
		opacity: 0;
	}
	20% {
		transform: translateX(-950px);
		opacity: 1;
	}
	35% {
		transform: translateX(-950px);
		opacity: 1;
	}
	40% {
		transform: translateX(-1350px);
		opacity: 0;
	}
	55% {
		transform: translateX(-1350px);
	}
	60% {
		transform: translateX(-1750px);
	}
	75% {
		transform: translateX(-1750px);
	}
	80% {
		transform: translateX(-150px);
	}
	95% {
		transform: translateX(-150px);
	}
	100% {
		transform: translateX(-550px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot3-530 {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	15% {
		transform: translateX(-150px);
	}
	20% {
		transform: translateX(-550px);
	}
	35% {
		transform: translateX(-550px);
		opacity: 0;
	}
	40% {
		transform: translateX(-950px);
		opacity: 1;
	}
	55% {
		transform: translateX(-950px);
		opacity: 1;
	}
	60% {
		transform: translateX(-1350px);
		opacity: 0;	
	}
	75% {
		transform: translateX(-1350px);

	}
	80% {
		transform: translateX(-1750px);
	}
	95% {
		transform: translateX(-1750px);
	}
	100% {
		transform: translateX(-150px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot4-530 {
	0% {
		transform: translateX(-1750px);
		opacity: 0;
	}
	15% {
		transform: translateX(-1750px);
	}
	20% {
		transform: translateX(-150px);
	}
	35% {
		transform: translateX(-150px);
	}
	40% {
		transform: translateX(-550px);
	}
	55% {
		transform: translateX(-550px);
		opacity: 0;	
	}
	60% {
		transform: translateX(-950px);
		opacity: 1;
	}
	75% {
		transform: translateX(-950px);
		opacity: 1;
	}
	80% {
		transform: translateX(-1350px);
		opacity: 0;
	}
	95% {
		transform: translateX(-1350px);
	}
	100% {
		transform: translateX(-1750px);
		opacity: 0;
	}
}
@keyframes testimonialCarouselSlot5-530 {
	0% {
		transform: translateX(-1350px);
		opacity: 0;
	}
	15% {
		transform: translateX(-1350px);
	}
	20% {
		transform: translateX(-1750px);
	}
	35% {
		transform: translateX(-1750px);
	}
	40% {
		transform: translateX(-150px);
	}
	55% {
		transform: translateX(-150px);
	}
	60% {
		transform: translateX(-550px);
	}
	75% {
		transform: translateX(-550px);
		opacity: 0;
	}
	80% {
		transform: translateX(-950px);
		opacity: 1;
	}
	95% {
		transform: translateX(-950px);
		opacity: 1;
	}
	100% {
		transform: translateX(-1350px);
		opacity: 0;
	}
}
.testimonial-carousel {
	position: relative;
	width: 100vw;
	height: 450px;
	margin: 0;
	min-width: 1250px;
	overflow: hidden;
	.testimonial-item {
		position: absolute;
		top: 0;
		left: calc(50% + 2250px);
		display: inline-block;
		background-color: var(--color-white);
		width: 900px;
		height: 200px;
		padding: 5em;
		margin: 3em;
		&:nth-child(1) {
			animation: testimonialCarouselSlot1 50s linear infinite;
		}
		&:nth-child(2) {
			animation: testimonialCarouselSlot2 50s linear infinite;
		}
		&:nth-child(3) {
			animation: testimonialCarouselSlot3 50s linear infinite;
		}
		&:nth-child(4) {
			animation: testimonialCarouselSlot4 50s linear infinite;
		}
		&:nth-child(5) {
			animation: testimonialCarouselSlot5 50s linear infinite;
		}
		.container {
			display: flex;
			overflow: hidden;
			.headshot {
				flex: 0 0 20%;
			}
			.open-quote {
				flex: 0 0 5%;
				font-size: 10em;
				line-height: 1em;
				margin-top: -28px;
			}
			.open-quote.blue {
				color: var(--color-blue);
			}
			.open-quote.purple {
				color: var(--color-purple);
			}
			.open-quote.green {
				color: var(--color-green);
			}
			.open-quote.pink {
				color: var(--color-pink);
			}
			.open-quote.orange {
				color: var(--color-orange);
			}
			.info {
				flex: 0 0 70%;
				.quote {
					font-size: 1.25em;
					line-height: 1.5em;
				}
				h3 {
					font-size: 1.75em;
					margin-block-start: .5em;
					margin-block-end: .25em;
				}
				.title {
					font-size: 1.25em;
					font-style: italic;
				}
			}
		}
	}
}
.testimonial-item {
	.container {
		.headshot {
			.testimonial-headshot {
				max-width: 150px;
				border-radius: 50%;
			}
		}
	}
}

@media (max-width: 1150px) {
	.testimonial-carousel {
		min-width: 980px;
		.testimonial-item {
			left: calc(50% + 1650px);
			width: 625px;
			padding: 3.5em;
			margin: 2.5em;
			&:nth-child(1) {
				animation: testimonialCarouselSlot1-1150 50s linear infinite;
			}
			&:nth-child(2) {
				animation: testimonialCarouselSlot2-1150 50s linear infinite;
			}
			&:nth-child(3) {
				animation: testimonialCarouselSlot3-1150 50s linear infinite;
			}
			&:nth-child(4) {
				animation: testimonialCarouselSlot4-1150 50s linear infinite;
			}
			&:nth-child(5) {
				animation: testimonialCarouselSlot5-1150 50s linear infinite;
			}
			.container {
				.open-quote {
					font-size: 10em;
					line-height: 1em;
					margin-top: -28px;
				}
				.info {
					.quote {
						font-size: 1em;
						line-height: 1.25em;
					}
					h3 {
						font-size: 1.75em;
						margin-block-start: .5em;
						margin-block-end: .25em;
					}
					.title {
						font-size: 1.25em;
					}
				}	
			}
		}
	}	
}

@media (max-width: 978px) {
	.testimonial-carousel {
		min-width: 980px;
		.testimonial-item {
			left: calc(50% + 1250px);
			width: 500px;
			padding: 3.5em;
			margin: 2.5em;
			&:nth-child(1) {
				animation: testimonialCarouselSlot1-978 50s linear infinite;
			}
			&:nth-child(2) {
				animation: testimonialCarouselSlot2-978 50s linear infinite;
			}
			&:nth-child(3) {
				animation: testimonialCarouselSlot3-978 50s linear infinite;
			}
			&:nth-child(4) {
				animation: testimonialCarouselSlot4-978 50s linear infinite;
			}
			&:nth-child(5) {
				animation: testimonialCarouselSlot5-978 50s linear infinite;
			}
			.container {
				.open-quote {
					font-size: 10em;
					line-height: 1em;
					margin-top: -28px;
				}
				.info {
					flex: 0 0 65%;					
					.quote {
						font-size: 1em;
						line-height: 1.25em;
					}
					h3 {
						font-size: 1.5em;
						margin-block-start: .5em;
						margin-block-end: .25em;
					}
					.title {
						font-size: 1em;
					}
				}	
			}
		}
	}
	.testimonial-item {
		.container {
			.headshot {
				.testimonial-headshot {
					max-width: 100px;
				}
			}
		}
	}	
}

@media (max-width: 810px) {
	.testimonial-carousel {
		min-width: 810px;
		.testimonial-item {
			left: calc(50% + 1250px);
			width: 350px;
			height: 250px;
			padding: 2em;
			margin: 2.5em;
			&:nth-child(1) {
				animation: testimonialCarouselSlot1-810 50s linear infinite;
			}
			&:nth-child(2) {
				animation: testimonialCarouselSlot2-810 50s linear infinite;
			}
			&:nth-child(3) {
				animation: testimonialCarouselSlot3-810 50s linear infinite;
			}
			&:nth-child(4) {
				animation: testimonialCarouselSlot4-810 50s linear infinite;
			}
			&:nth-child(5) {
				animation: testimonialCarouselSlot5-810 50s linear infinite;
			}
			.container {
				.open-quote {
					font-size: 10em;
					line-height: 1em;
					margin-top: -28px;
				}
				.info {
					flex: 0 0 55%;					
					.quote {
						font-size: .8em;
						line-height: 1em;
					}
					h3 {
						font-size: 1.5em;
						margin-block-start: .5em;
						margin-block-end: .25em;
					}
					.title {
						font-size: 1em;
					}
				}	
			}
		}
	}
	.testimonial-item {
		.container {
			.headshot {
				.testimonial-headshot {
					max-width: 75px;
				}
			}
		}
	}	
}

@media (max-width: 530px) {
	.testimonial-carousel {
		min-width: 530px;
		.testimonial-item {
			left: calc(50% + 688px);
			width: 275px;
			height: 300px;
			padding: 1em;
			margin: 2.5em;
			&:nth-child(1) {
				animation: testimonialCarouselSlot1-530 50s linear infinite;
			}
			&:nth-child(2) {
				animation: testimonialCarouselSlot2-530 50s linear infinite;
			}
			&:nth-child(3) {
				animation: testimonialCarouselSlot3-530 50s linear infinite;
			}
			&:nth-child(4) {
				animation: testimonialCarouselSlot4-530 50s linear infinite;
			}
			&:nth-child(5) {
				animation: testimonialCarouselSlot5-530 50s linear infinite;
			}
			.container {
				.open-quote {
					font-size: 10em;
					line-height: 1em;
					margin-top: -28px;
				}
				.info {
					flex: 0 0 55%;					
					.quote {
						font-size: .8em;
						line-height: 1em;
					}
					h3 {
						font-size: 1.5em;
						margin-block-start: .5em;
						margin-block-end: .25em;
					}
					.title {
						font-size: 1em;
					}
				}	
			}
		}
	}
	.testimonial-item {
		.container {
			.headshot {
				.testimonial-headshot {
					max-width: 50px;
				}
			}
		}
	}	
}
